<html>
<head>
<title>Python Flask Upload and display image</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <style>
        .img{
            display:flex;
            position: relative;
            gap:90px;
        }
        .pos{
            white-space: pre;

        }
    </style>
</head>
<body background="{{ url_for('static', filename='uploads/bg1.jpeg') }}">
<p ><h1 align="center" style="color:white;">Face and signature classifier</h1></p>
<div class="container">
<div class="row">
    <h2 style="color:white;">Select files to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li style="color:white;font-size:20px";>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    {% if filename1 %}
    <h3 style="color:white;"class="pos">Uploaded photo                                   Uploaded signature</h3>
    <
        <div class = "img">
            <img src="{{ url_for('display_image', filename=filename1) }} " width="250"
     height="250" />
            <img src="{{ url_for('display_image', filename=filename2) }} " width="250"
     height="250" />
        </div>

    {% endif %}
    <form method="post" action="/" enctype="multipart/form-data">

        <dl>
            <h4 style="color:white;"> Upload Photo</h4>
            <p>
                <input type="file" name="file1" class="form-control" autocomplete="off" required>
            </p>
            <h4 style="color:white;"> Upload Signature</h4>
            <p>
                <input type="file" name="file2" class="form-control" autocomplete="off" required>
            </p>


        </dl>

        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>

        <Body>
            <div class = :"center">
                <a class = "btn btn-secondary btn-lg" href = "{{url_for('first')}}"> Proceed </a>
            </div>
        </Body>
    </form>
</div>
</div>
</body>
</html>